
body{
      background:#FFEBCD;
}

#header {
      height: 230px;
}

.header_title {
      position: relative; 
      float: left;
      top: 5%;
      color: black;
      width: 100%;
}

.header_title_name {
      text-shadow: 2px 2px grey;
      font-style: italic;
      text-align: center;
      font-family: Arial;
      display: inline-block;
      width: 100%;
      font-size: 70px;
}

.header_title_position {
      text-align: center;
      text-shadow: 2px 2px grey;
      font-style: italic;
      font-family: Arial;
      font-size: 30px;
}

#avatar {
      position: absolute; 
      right: 50px; 
      top: 30px;
      width: 200px;
      height: 200px;
}
.self_information_left {
      text-align: left;
      line-height: 1.5;
      font-size: 130%;
      margin: 30px;
      float: left;
}
.self_information_right {
      text-align: center;
      line-height: 1.5;
      font-size: 130%;
      margin: 30px;
      float: left;
      width: 70%;      
}

.content_section {
      margin: 30px;
      display: inline-table;
}
.section_title {
      font-style: normal;
      font-size: 30px;
      color: black;
      width: 100%;
}
#content {
      font-style: italic;
      height: 400px;
}

#footer {
      height: 80px;
}